@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{margin:0; padding:0; border:0; font-family: 'Noto Sans KR', sans-serif; outline:0;}
html{overflow-y: scroll; overflow-x: hidden;}
ul{list-style:none}
h1, h2, h3, h4, h5, h6, p{font-family: 'Noto Sans KR', sans-serif; cursor:default;}
a{display: block; text-decoration:none; outline:0; color: #333333;}
input,select,textarea,button{border-radius:0;/* vertical-align:middle */}
input::-ms-clear{display:none}
button{border:0 none; background-color:transparent; cursor:pointer}
.cf:after{content:""; display: block; clear: both;}
.fl{float: left;}
.fr{float: right;}