@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{margin:0; padding:0; border:0; font-family: 'Noto Sans KR', sans-serif; outline:0;}
html{overflow-y: scroll; overflow-x: hidden;}
ul{list-style:none}
h1, h2, h3, h4, h5, h6, p{font-family: 'Noto Sans KR', sans-serif; cursor:default;}
a{display: block; text-decoration:none; outline:0; color: #333333;}
input,select,textarea,button{border-radius:0;vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none; background-color:transparent; cursor:pointer}
.cf:after{content:""; display: block; clear: both;}
.fl{float: left;}
.fr{float: right;}



body{width: 100%; height: 2500px; margin: 25px auto 0; background: url(../reservation/img/bg/bg2.png) no-repeat top center;}
#wrap{width: 411px; margin: 0 auto 25px;}
header{position: relative; width: 411px; height: 50px; margin: 0 auto;}
section{position: relative; width: 411px; margin: 0 auto; overflow: hidden;}
footer{position: relative; width:411px; margin: 0 auto;}

/*------------------------- header -------------------------*/
#h_menu{width: 50px; height: 50px; padding-top: 10px; cursor: pointer; box-sizing: border-box;}
#h_menu span{display: block; width: 25px; height: 2px; background: #333333; margin: 6px auto;}
.map_btn{width: 50px; height: 50px; background: url(../img/map_icon.png) no-repeat center center;}

/*------------------------- footer -------------------------*/
#f_menu{width:411px; height: 60px; border-top: 1px solid #dddddd; background: #ffffff; position: fixed; bottom: 0;}
#f_menu ul{width: 100%; height: 100%;}
#f_menu ul li{float: left; width: 25%; height: 100%; text-align: center;}
#f_menu ul li a{height: 100%; padding-top: 34px; font-size: 0.9em;  box-sizing: border-box;}
#f_menu ul li:nth-child(1) a{background: url(../img/home.png) center 5px no-repeat;}
#f_menu ul li:nth-child(2) a{background: url(../img/calendar.png ) center 5px no-repeat;}
#f_menu ul li:nth-child(3) a{background: url(../img/cummunity.png) center 5px no-repeat;}
#f_menu ul li:nth-child(4) a{background: url(../img/user.png) center 5px no-repeat;}
#f_menu ul li.on:nth-child(1) a{background: url(../img/home_on.png) center 5px no-repeat; color: #00C0C0;}
#f_menu ul li.on:nth-child(2) a{background: url(../img/calendar_on.png ) center 5px no-repeat; color: #00C0C0;}
#f_menu ul li.on:nth-child(3) a{background: url(../img/cummunity_on.png) center 5px no-repeat; color: #00C0C0;}
#f_menu ul li.on:nth-child(4) a{background: url(../img/user_on.png) center 5px no-repeat; color: #00C0C0;}