body{width: 100%; margin: 0 auto;}
#wrap{width: 411px; height: 731px; margin: 0 auto 25px;}
header{position: relative; width: 411px; height: 50px; margin: 0 auto;}
section{position: relative; width: 411px; margin: 0 auto; overflow: hidden;}
footer{position: fixed; bottom: 0; width:411px; margin: 0 auto;}

/*------------------------- header -------------------------*/
#h_menu{width: 50px; height: 50px; padding-top: 10px; cursor: pointer; box-sizing: border-box;}
#h_menu span{display: block; width: 25px; height: 2px; background: #333333; margin: 6px auto;}
.map_btn{width: 50px; height: 50px; background: url(../img/filter.png) no-repeat center center;}

/*------------------------- section -------------------------*/
#contest{border: 7px solid #efefef; width: 96%; height: 120PX;}
.contest_h_box{width: 100%; height: 28px; background: #efefef;}
.contest_tit{font-size: 16px; margin-left: 10px; margin-top: -5px;}
.match_img_small{margin: 4px;}
.match_tit{ margin: 15px 0 0 5px ; font-size: 14px;}
.match_day{font-size: 14px; font-size: 12px; margin: 5px 0 0 6px;}
.match_day>span{color: #7B4CE0;}

.search_text{font-size: 14px; margin: 10px 10px 0 10px;}

#search_content{width: 100%; height: 160px; border-bottom: 1px solid #cccccc; }
.search_img_small{margin-top: 5px; margin-left: 10px;}
.search_tit{ margin: 10px 0 0 10px ; font-size: 16px; }
.search_day{font-size: 14px; font-size: 12px; margin: 5px 0 0 10px;}
.search_day>p>span{color: #7B4CE0;}
.search_day>p{margin: 2px 0 3px 0;}
.like{margin-top: 5px;}


/*------------------------- footer -------------------------*/
#f_menu{width: 100%; height: 60px; border-top: 1px solid #dddddd; background: #ffffff;}
#f_menu ul{width: 100%; height: 100%;}
#f_menu ul li{float: left; width: 25%; height: 100%; text-align: center;}
#f_menu ul li a{height: 100%; padding-top: 34px; font-size: 0.9em;  box-sizing: border-box;}
#f_menu ul li:nth-child(1) a{background: url(../img/home.png) center 5px no-repeat;}
#f_menu ul li:nth-child(2) a{background: url(../img/calendar.png ) center 5px no-repeat;}
#f_menu ul li:nth-child(3) a{background: url(../img/cummunity.png) center 5px no-repeat;}
#f_menu ul li:nth-child(4) a{background: url(../img/user.png) center 5px no-repeat;}
#f_menu ul li.on:nth-child(1) a{background: url(../img/home_on.png) center 5px no-repeat; color: #00C0C0;}
#f_menu ul li.on:nth-child(2) a{background: url(../img/calendar_on.png ) center 5px no-repeat; color: #00C0C0;}
#f_menu ul li.on:nth-child(3) a{background: url(../img/cummunity_on.png) center 5px no-repeat; color: #00C0C0;}
#f_menu ul li.on:nth-child(4) a{background: url(../img/user_on.png) center 5px no-repeat; color: #00C0C0;}