body{width: 100%; height: auto; margin: 0 auto;}
.hidden{display: none;}
#wrap{width: 411px; margin: 0 auto; overflow:hidden; position: relative; background: #ffffff; height: 731px;}

h1{display: none;}
.splash{position: absolute; top: 200px; left:155px; display: none; }
.text{position: absolute; top: 500px; left:100px;}