.pin_wrap{position: relative; height: 43px;}
.pin_body{width: 135px; height: 36px; background-color: #ffffff; border: 1px solid #7b4ce0; border-radius: 50px; position: relative;}
.pin_footer{position: relative; left: 17px; margin-top: -1px; width: 0; height: 0; border-width: 8px 5px 0; border-style: solid; border-color: #7b4ce0  transparent transparent;}
.pin_footer:after{content: ""; width: 0; height: 0; border-width: 6px 4px 0; border-style: solid; border-color: #fff transparent transparent; position: absolute; top: -8px; left: 50%; transform: translateX(-50%);}
.pin_box{width: 120px; height: 24px; position: absolute; top: 5px; left: 50%; transform: translateX(-50%);}
.pin_img{width: 24px; height: 24px; position: absolute;}
.pin_img img{margin: 0px; padding: 0px; border: 0px solid transparent; display: block; max-width: 24px; max-height: 24px; -webkit-user-select: none; width:24px; height:24px;}
.pin_txt{width: 90px; height: 24px; position: absolute; left: 29px;}
.pin_tit{width: 100%; height: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: relative;}
.pin_tit span{font-size: 11px; letter-spacing: 0.7px; position: absolute; top: -2px; height: 14px; line-height: 15px;}
.pin_sub{width: 100%; height: 10px; color: #666666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: relative;}
.pin_sub .review{font-size: 10px; position: absolute; height: 10px; line-height: 9px;}
.pin_sub .review img{padding-right: 2px;}
.pin_sub .subject{font-size: 10px; position: absolute; left: 27px; height: 10px; line-height: 9px;}
